.shop-container {
  font-family: "Titillium Web", sans-serif;
}

.products-container {
  background-color: #0d190761;
}

.cart-container {
  background-color: #00c897;
}
#cart-title {
  border-bottom: 2px solid black;
}
